.intro-text {
    margin-bottom: 2rem;
    margin-top: 4rem;
    
    h1 {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    
    p {
      font-size: 1.2rem;
      line-height: 1.6;
      margin-bottom: 1rem;
    }
  }
  